{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center my-5">
		<div class="col-md-3">
			<div class="card shadow-lg p-4">
				<h3 class="text-center mb-4">Login</h3>

				<form action="{{ path('app_login') }}" method="POST">
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="text" id="email" name="_username" value="{{ lastUsername }}" class="form-control" placeholder="Enter your email" required>
					</div>

					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" id="password" name="_password" class="form-control" placeholder="Enter your password" required>
					</div>

					<input type="hidden" name="_target_path" value="{{ path('app_post') }}"/>

					<div class="d-grid gap-2 my-4">
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</form>

				<div class="text-center">
					Don't have an account?
					<a href="{{ path('app_register') }}">Register here</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
