{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}

	<div class="card my-5" style="width: 50rem;">
		<div class="card-body">
			<h5 class="card-title pb-3">{{ post.title }}</h5>
			<p class="card-text py-1">{{ post.text }}</p>
			<p class="card-text py-1">Created at:
				{{ post.created|date }}</p>
			<a href="{{ path('app_post') }}" class="card-link">Go back</a>
		</div>
	</div>


{% endblock %}
