{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}

	<div class="d-flex justify-content-center">
		<div class="card my-5" style="width: 50rem;">

			<div class="card-header d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center">
					<img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
					<div class="ms-3">
						<p class="fw-bold mb-1">John Doe</p>
						<p class="text-muted mb-0">john.doe@gmail.com</p>
					</div>
				</div>
				<div>
					<div class="dropdown">
						<button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewbox="0 0 16 16">
								<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
							</svg>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">Comment</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">User Profile</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Report</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="my-2">
				<div class="card-body">
					<h5 class="card-title pb-3 border-bottom">{{ post.title }}</h5>
					<p class="card-text pt-3">{{ post.text }}</p>
				</div>
			</div>

			<div class="card-footer text-body-secondary d-flex justify-content-between align-items-center">
				<div class="card-text py-1 text-muted">Created at:
					{{ post.created|date }}</div>
				<a href="{{ path('app_post') }}" class="btn btn-outline-primary">Go back</a>
			</div>
		</div>
	</div>
{% endblock %}
